.error_report {
  position: absolute;
  left: 15%;
  right: 15%;
  top: 0;
  padding: 125px 100px 200px;
  background: $red;
  border: 1px solid $white;
  text-transform: none;
  visibility: visible !important;

  h1 {
    text-transform: uppercase;
  }

  p {
    font-family: $serif;
    font-style: normal;
    color: $white;
    font-size: 1.2em;
    letter-spacing: 0;
  }

  .close_error {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 4em;
  }
}
