#list {
  top: 100%;
  position: absolute;
  width: 100%;
  min-height: 100%;

  a {
    text-decoration: none;
    color: inherit;
    &:visited {
      color: inherit;
    }
    &:hover {
      color: $blue !important;
    }
  }

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    list-style-type: none;
    li {
      margin: auto;
      width: 70%;
      max-width: 750px;
      list-style-type: none;
      border-bottom: 1px solid $blue;
      padding-bottom: 20px;
      h1 {
        text-transform: uppercase;
        width: 140%;
        padding: 0;
        margin-left: -18%;
        text-align: center;
        font-family: $serif;
        font-size: 3em;
        letter-spacing: 10px;
        &.small_text {
          font-size: 3em;
          letter-spacing: 2px;
        }
      }
      p, h2 {
        font-family: $sans;
        color: $grey;
        text-align: center;
      }

      p {
        font-size: 1.1em;
        font-style: italic;
        width: 70%;
        margin: auto;
      }

      h2 {
        font-size: 1em;
        letter-spacing: 7px;
        margin-top: 120px;
        text-transform: uppercase;
      }

      .voted_header {
        font-size: 0.4em;
        color: $gold;
      }

      .date_header {
        margin-top: 20px;
      }
    }
  }

  a:hover li p {
    color: $blue;
  }

  a:hover li h2 {
    color: $blue;
  }
}

.voting_controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30px;
  font-size: 1em;
}

.voting_confirm_up,
.voting_confirm_down,
.voting_controls_up,
.voting_controls_down {
  position: relative;
  width: 100px;
  padding: 5px;
  box-sizing: border-box;
  background: none;
  border: none;
  border-radius: 14px;
  outline: none;
  color: $gold;
  font-family: $sans;
  font-size: inherit;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}

.voting_controls_up {
  margin-left: 5px;
}

.voting_controls_down {
  margin-right: 5px;
}

.voting_confirm_up,
.voting_controls_up {
  border: 1px solid $green;
}

.voting_confirm_down,
.voting_controls_down {
  border: 1px solid $darkRed;
}

.voting_confirm_up {
  color: $green;
}

.voting_confirm_down {
  color: $darkRed;
}

.voting_control_arrow_up,
.voting_control_arrow_down {
  position: absolute;
  height: 150%;
  top: -25%;
}

.voting_control_arrow_up {
  left: -20px;
}

.voting_control_arrow_down {
  right: -20px;
  transform: rotate(180deg);
}

.sort_control {
  position: fixed;
  top: 20px;
  right: 30px;
  font-family: $sans;
  font-size: .8em;
  cursor: default;
}

.sort_type {
  text-decoration: underline;
  cursor: pointer;
}

#list .sort_dropdown {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.sort_dropdown--collapsed {
  height: 0;
}

@media only screen and (min-width: 700px) {
  #list ul li p {
    font-size: 0.6em;
  }
  #list ul li h2 {
    font-size: 0.5em;
  }
  #list ul li h1 {
    font-size: 2.3em;
    margin-left: auto;
    width: 100%;

    &.small_text {
      font-size: 2.3em;
      letter-spacing: 10px;
    }
  }
  .voting_controls {
    font-size: 0.5em;
  }

  .voting_confirm_up,
  .voting_confirm_down,
  .voting_controls_up,
  .voting_controls_down {
    width: 150px;
  }

  .voting_controls_up {
    margin-left: 30px;
  }
  
  .voting_controls_down {
    margin-right: 30px;
  }

  .voting_control_arrow_up {
    left: -30px;
  }
  
  .voting_control_arrow_down {
    right: -30px;
  }
}
