#list {
  top: 100%;
  position: absolute;
  width: 100%;
  min-height: 100%;

  a {
    text-decoration: none;
    color: inherit;
    &:visited {
      color: inherit;
    }
    &:hover {
      color: $blue !important;
    }
  }

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    list-style-type: none;
    li {
      margin: auto;
      width: 70%;
      max-width: 750px;
      list-style-type: none;
      border-bottom: 1px solid $blue;
      padding-bottom: 50px;
      h1 {
        text-transform: uppercase;
        width: 140%;
        padding: 0;
        margin-left: -19.5%;
        text-align: center;
        font-family: $serif;
        font-size: 3em;
        letter-spacing: 10px;
        &.small_text {
          font-size: 2.3em;
        }
      }
      p, h2 {
        font-family: $sans;
        color: $grey;
        text-align: center;
      }

      p {
        font-size: 1.1em;
        font-style: italic;
        width: 70%;
        margin: auto;
      }

      h2 {
        font-size: 1em;
        letter-spacing: 7px;
        margin-top: 120px;
        white-space: nowrap;
        text-transform: uppercase;
      }
    }
  }

  a:hover li p {
    color: $blue;
  }

  a:hover li h2 {
    color: $blue;
  }
}

@media only screen and (min-width: 700px) {
  #list ul li p {
    font-size: 0.6em;
  }
  #list ul li h2 {
    font-size: 0.5em;
  }
  #list ul li h1 {
    font-size: 2.3em;
    margin-left: auto;
    width: 100%;

    .small_text {
      font-size: 2.3em;
    }
  }

}
