#list {
  top: 100%;
  position: absolute;
  width: 100%;
  min-height: 100%;

  a {
    text-decoration: none;
    color: inherit;
    &:visited {
      color: inherit;
    }
    &:hover {
      color: $blue !important;
    }
  }

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    list-style-type: none;
    li {
      margin: auto;
      width: 70%;
      max-width: 750px;
      list-style-type: none;
      border-bottom: 1px solid $blue;
      padding-bottom: 20px;
      h1 {
        text-transform: uppercase;
        text-align: center;
        font-family: $serif;
        font-size: 2.3em;
        letter-spacing: 10px;
      }
      p, h2 {
        font-family: $sans;
        color: $grey;
        text-align: center;
      }

      p {
        font-size: .6em;
        font-style: italic;
      }

      h2 {
        font-size: .5em;
        letter-spacing: 7px;
        margin-top: 100px;
        white-space: nowrap;
        text-transform: uppercase;
      }
    }
  }

  a:hover li p {
    color: $blue;
  }

  a:hover li h2 {
    color: $blue;
  }
}
