// shades
$white: #FFFFFF;
$grey: #AAAAAA;
$darkgrey: #555555;
$black: #231F20;


// colors
$blue: #2C5DC7;
$green: #7FED75;
$gold: #EBC786;
$red: #E34346;
$darkRed: #D14042;

// font-size
$base: 25px;
$mobile: 10px;

//icon size
$mobileIconSize: 20px;
$iconSize: 50px;

// fonts
$serif: 'Forum', cursive;
$sans: 'Barlow', sans-serif;
