// colors
$black: #231F20;
$blue: #2C5DC7;
$red: #E54141;
$white: #FFFFFF;
$grey: #AAAAAA;
$darkgrey: #555555;

// font-size
$base: 25px;
$mobile: 25px;
$minWidth: 700px;
$minWidthMobile: 300px;

// fonts
$serif: 'Forum', cursive;
$sans: 'Barlow', sans-serif;
