#title_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.title_page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  text-align: center;

  #title_content {
    padding: 0;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0.2;
  }

  #title_form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 0.2;

  }

  #title {
    padding: 0;
    margin-top: 50px;
  }

  h1 {
    letter-spacing: 5px;
    margin: 10px 0 0 0;
  }

  h1, h2 {
    font-family: $serif;
    font-weight: 400;
  }

  h2 {
    letter-spacing: 10px;
    margin: 0 0 10px 0;
    font-size: 1.3em;
  }

  h3 {
    font-family: $serif;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 1.1em;
  }

  h4 {
    margin-bottom: 0px;
    letter-spacing: 3px;
  }

  h4, h5 {
    font-family: $sans;
    font-size: 0.9em;
    font-weight: 100;
  }

  h5 {
    letter-spacing: 10px;
    width: 80%;
    max-width: 700px;
    color: $grey;

    span {
      background-color: $black;
      padding: 0 20px;
    }

    hr {
      margin-top: -0.6em;
      border: none;
      border-top: 1px solid $white;
    }
  }

  #add_name {
    margin: 0;
    input {
      text-transform: uppercase;
      font-style: italic;
      font-weight: 400;
      font-family: $sans;
      letter-spacing: 5px;
      font-size: 0.9em;
      padding: 15px;
      width: 60%;
      text-align: center;
      background: $black;
      border: 1px solid $white;
      outline: none;
      color: $darkgrey;

      &:focus {
        color: $white;
      }

    }
  }

  p {
    margin-bottom: 5px;
    font-size: .6em;
    font-family: $sans;
    font-style: italic;
    letter-spacing: 5px;
    color: $grey;
  }

  #down_arrow {
    height: $mobileIconSize;
    margin: 5px auto 0;
  }

}

@media only screen and (min-width: 700px) {
  #down_arrow {
    height: $iconSize !important;
  }
  #title {
    margin-top: 0 !important;
  }
}
